 ul{
    background-color: pink;
    display: flex;
    justify-content:space-evenly;
    align-items: end;
    
}
a{
    text-decoration: none;
    color: rgb(77, 25, 5);
  

}
li{
    list-style-type: none;
    display: inline;
}

.outer{
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: brown;
    align-self: flex-start;
} 


